if: (branch = master) OR (type = pull_request) OR (tag IS present)
matrix:
  include:
    - language: rust
      rust: 1.31.0
      cache: 
        cargo: true
        directories:
          - driver/target
      script:
        - cd driver/
        - cargo build --verbose --all
        - cargo test --verbose --all
    - language: python
      python: 3.6
      cache: pip
      install:
        - pip install -U -r event_listener/requirements.txt
      script:
        - pytest --cov=event_listener/dfusion_db/ --cov-report term-missing
        - mypy event_listener/dfusion_db/ --ignore-missing-imports --strict
    - language: node_js
      cache: npm
      sudo: required
      node_js: 10.13.0
      env:
        - DOCKER_COMPOSE_VERSION=1.22.0
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - build-essential
      before_install:
        - sudo rm /usr/local/bin/docker-compose
        - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
        - chmod +x docker-compose
        - sudo mv docker-compose /usr/local/bin
      install:
        - git submodule update --init
        - npm install -C dex-contracts
        - cd dex-contracts && truffle compile && cd - # driver/listener require compiled contracts
        - docker-compose up -d driver listener | while read line ; do echo "$(date)| $line"; done;
        - docker-compose port ganache-cli 8545
        - sudo netstat -tulpn
        - netcat -z -v localhost 8545
        - cd dex-contracts && truffle migrate --network development && cd -
      script:
        - sh ./test/e2e-tests-deposit.sh
        - sh ./test/e2e-tests-withdraw.sh
      after_script:
        - docker-compose logs