if: (branch = master) OR (type = pull_request) OR (tag IS present)
matrix:
  include:
    - language: rust
      rust: 1.36.0
      cache: 
        cargo: true
        directories:
          - driver/target
          - listener/target
      before_script:
        - rustup component add clippy
      script:
        - cd driver/
        - cargo clippy -- -D warnings
        - cargo build --verbose --all
        - cargo test --verbose --all
        - cd ../listener
        - cargo clippy -- -D warnings
        - cargo build --verbose --all
        - cargo test --verbose --all
    - language: python
      python: 3.6
      cache: pip
      install:
        - pip install -U -r event_listener/requirements.txt
      script:
        - pytest --cov=event_listener/dfusion_db/ --cov-report term-missing
        - mypy event_listener/dfusion_db/ --ignore-missing-imports --strict
        - pep8 --config .pep8 event_listener/dfusion_db/
        - pylint --errors-only event_listener/dfusion_db/
    - language: generic
      dist: xenial
      sudo: required
      cache: 
        directories:
          - $HOME/.nvm/versions/node/v8.12.0/lib/node_modules
          - dex-contracts/node_modules/
      before_install:
        - npm install -g truffle
        - sudo sh -c "curl https://raw.githubusercontent.com/kadwanev/retry/a1b1826bdb0a78189d5c70c858dc676f5133b1d7/retry -o /usr/local/bin/retry && chmod +x /usr/local/bin/retry"
      install:
        - git submodule update --init
        - npm install -C dex-contracts
        # driver/listener require compiled contracts
        - cd dex-contracts && truffle compile && cd -
        - docker-compose up -d ganache-cli driver listener | while read line ; do echo "$(date)| $line"; done; # prints timestamps for profiling
        - cd dex-contracts && retry truffle migrate && cd -
      script:
        - set -e # make this script fail as soon as any individual command fail
        - sh ./test/e2e-tests-deposit-withdraw.sh
        - sh ./test/restart-containers.sh
        - sh ./test/e2e-tests-auction.sh
        - sh ./test/restart-containers.sh
        - sh ./test/e2e-tests-standing-order.sh
      after_failure:
        - docker-compose logs