if: (branch = master) OR (type = pull_request) OR (tag IS present)
matrix:
  include:
    - language: rust
      name: "Unit Tests"
      rust: 1.37.0
      cache: cargo
      before_cache:
        - find ./target/debug -type f -maxdepth 1 -delete
        - rm -fr ./target/debug/{deps,.fingerprint}/{*ra_*,*test*,*tools*,*gen_lsp*}
        - rm -f  ./target/.rustc_info.json
      env:
        - CARGO_INCREMENTAL=0
      before_script:
        - rustup component add clippy rustfmt
      script:
        - cargo test --all
        - cargo clippy --all -- -D warnings
        - cargo fmt -- --check
    - language: generic
      name: "d∆íusion e2e Tests"
      cache: 
        directories:
          - dex-contracts/node_modules/
      install:
        - ./test/setup_contracts.sh
      script:
        - docker-compose up -d driver graph-listener | while read line ; do echo "$(date)| $line"; done; # prints timestamps for profiling
        - ./test/e2e-tests-deposit-withdraw.sh
        - ./test/restart-containers.sh
        - ./test/e2e-tests-auction.sh
        - ./test/restart-containers.sh
        - ./test/e2e-tests-standing-order.sh
      after_failure:
        - docker-compose logs
    - language: generic
      name: "StableX e2e Tests"
      cache: 
        directories:
          - dex-contracts/node_modules/
      install:
        - ./test/setup_contracts.sh
      script:
        - docker-compose run -e -d stablex
        - ./test/e2e-tests-stablex.sh
      after_failure:
        - docker-compose logs
      deploy:
        provider: script
        script: ./docker/deploy.sh
        # on:
        #   branch: master
