version: '3.6'
services:
  mongo:
    image: mongo:latest
    environment:
      - AUTH=no
    restart: always  
    ports:
      - "27017:27017"

  ganache-cli:
    ports:
      - '8545:8545'
    image: 'trufflesuite/ganache-cli:latest'
    command: ["-d"]
#    logging:
#      driver: "none"  

  listener:
    command: docker/event_listener/run.sh
    build:
      context: .
      dockerfile: docker/event_listener/Dockerfile
    depends_on:
      - mongo
      - ganache-cli
      - truffle
    volumes:
      - ./:/app/

  truffle:
    build:
      context: .
      dockerfile: docker/truffle/Dockerfile
    depends_on:
      - ganache-cli
    volumes:
      - ./:/app/

  driver:
    command:  cargo run
    build:
      context: .
      dockerfile: docker/driver/Dockerfile
    depends_on:
      - mongo
      - listener
      - ganache-cli
      - truffle
    restart: always  
    volumes:
      - ./:/app/
    environment:
      - SNAPP_CONTRACT_ADDRESS=0xC89Ce4735882C9F0f0FE26686c53074E09B0D550
      - DB_HOST=mongo
      - DB_PORT=27017
      - DB_NAME=dfusion2  