version: '3.6'
x-rust-service:
  &rust-service
  build:
    context: .
    dockerfile: docker/rust/Dockerfile
  restart: always
  env_file:
    - common.env
  environment:
    - RUST_BACKTRACE=1

services:
  ganache-cli:
    ports:
      - '8545:8545'
    image: 'trufflesuite/ganache-cli:latest'
    command: ["-d"]
    logging:
      driver: "none"

  truffle:
    command: /app/run.sh
    build:
      context: .
      dockerfile: docker/truffle/Dockerfile
    depends_on:
      - ganache-cli
    volumes:
      - ./dex-contracts:/app/dex-contracts
  
  postgres:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: dfusion
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: dfusion

  driver:
    << : *rust-service
    command: cargo run --bin dfusion
    volumes:
      # Don't sync target, otherwise we rebuild on every deploy
      - ./dex-contracts:/app/dex-contracts
      - ./dfusion_rust_core/src:/app/dfusion_rust_core/src
      - ./driver/src:/app/driver/src

  graph-listener:
    << : *rust-service
    command: /app/docker/rust/run_listener.sh
    depends_on:
      - ganache-cli
      - postgres
    ports:
      - '8000:8000'
      - '8001:8001'
    volumes:
      # Don't sync target, otherwise we rebuild on every deploy
      - ./dex-contracts:/app/dex-contracts
      - ./dfusion_rust_core/src:/app/dfusion_rust_core/src
      - ./docker/rust:/app/docker/rust
      - ./listener/src:/app/listener/src
      - ./listener/subgraph_definition:/app/listener/subgraph_definition

  stablex:
    << : *rust-service
    command: cargo run --bin stablex
    restart: always
    volumes:
      # Don't sync target, otherwise we rebuild on every deploy
      - ./dex-contracts:/app/dex-contracts
      - ./dfusion_rust_core/src:/app/dfusion_rust_core/src
      - ./driver/src:/app/driver/src
