[package]
name = "driver"
version = "0.1.0"
edition = "2018"

[dependencies]
services-core = { path = "../services-core" }
ethcontract = "0.7.2"
log = "0.4.11"
prometheus = { version = "0.10.0", default-features= false }
structopt = "0.3.19"
url = "2.1.1"

