[package]
name = "driver"
version = "0.1.0"
authors = ["josojo <alex@gnosis.pm>"]
edition = "2018"

[lib]
name = "driver"
path = "src/lib.rs"

[dependencies]
chrono = "0.4.6"
ethabi = "6.1.0"
mongodb = "0.3.12"
serde_json = "1.0"
serde_derive = "1.0"
serde = "1.0"
bson = "0.9.1"
pairing = "0.14"
rustc-hex = "*"
sha2 = "*"
byteorder = "*"
hex = "0.3.2"
web3 = { git = "https://github.com/tomusdrw/rust-web3", rev = "56ad08e" }
log = "0.4.6"
simple_logger = "1.2.0"

[dev-dependencies]
mock-it = "0.2.0"
