[package]
name = "driver"
version = "0.1.0"
authors = ["Alexander Herrmann <alex@gnosis.io>", "Ben Smith <ben@gnosis.io>", "Felix Leupold <felix@gnosis.io>"]
edition = "2018"

[lib]
name = "driver"
path = "src/lib.rs"

[dependencies]
bson = "0.14.0"
byteorder = "1.3.1"
chrono = "0.4.10"
clarity = "0.1.23"
ethabi = "8.0.1"
ethereum-tx-sign = "3.0.0"
dfusion_core = { path = "../dfusion_rust_core" }
graph = { git = "https://github.com/graphprotocol/graph-node", tag = "v0.16.1" }
graph-node-reader = { git = "https://github.com/gnosis/graph-node-reader", tag = "v0.16.1" }
hex = "0.4.0"
lazy_static = "1.4.0"
log = "0.4.8"
rustc-hex = "*"
serde_json = "1.0"
simple_logger = "1.2.0"
thiserror = "1.0"
web3 = "0.8.0"

[dev-dependencies]
mock-it = "0.3.0"
