[package]
name = "driver"
version = "0.1.0"
authors = ["Alexander Herrmann <alex@gnosis.io>", "Ben Smith <ben@gnosis.io>", "Felix Leupold <felix@gnosis.io>"]
edition = "2018"

[lib]
name = "driver"
path = "src/lib.rs"

[dependencies]
bson = "0.9.1"
byteorder = "1.3.1"
chrono = "0.4.6"
clarity = "0.1.8"
ethabi = "6.1.0"
ethereum-tx-sign = { git = "https://github.com/synlestidae/ethereum-tx-sign.git", rev = "df9f03fd275337b3e7f63582861910fcc99d3c36" }
dfusion_core = { path = "../dfusion_rust_core" }
graph = { git = "https://github.com/graphprotocol/graph-node", tag = "v0.13.2" }
graph-node-reader = { git = "https://github.com/gnosis/graph-node-reader", tag = "v0.13.2" }
hex = "0.4.0"
log = "0.4.8"
rustc-hex = "*"
serde_json = "1.0"
simple_logger = "1.2.0"
thiserror = "1.0"
web3 = { git = "https://github.com/tomusdrw/rust-web3", rev = "56ad08e" }
lazy_static = "1.4.0"

[dev-dependencies]
mock-it = "0.2.0"


