[package]
name = "driver"
version = "0.1.0"
edition = "2018"

[dependencies]
services-core = { path = "../services-core" }
ethcontract = { version = "0.11", default-features = false }
log = "0.4.14"
prometheus = { version = "0.11.0", default-features= false }
structopt = "0.3.21"
url = "2.2.0"
