[package]
name = "driver"
version = "0.1.0"
authors = ["josojo <alex@gnosis.pm>"]
edition = "2018"

[lib]
name = "driver"
path = "src/lib.rs"

[dependencies]
ethabi = "6.1.0"
mongodb = "0.3.2"
serde_json = "1.0"
serde_derive = "1.0"
serde = "1.0"
bson = "0.9.1"
pairing = "0.14"
rustc-hex = "*"
sha2 = "*"
byteorder = "*"
hex = "*"
web3 = { git = "https://github.com/tomusdrw/rust-web3" }

[dev-dependencies]
mock-it = "0.2.0"



