[package]
name = "driver"
version = "0.1.0"
authors = ["josojo <alex@gnosis.pm>"]
edition = "2018"

[lib]
name = "models"
path = "src/models.rs"
bench = true

[[bin]]
name = "driver"
path = "src/main.rs"

[dependencies]
mongodb = "0.3.2"
serde_json = "1.0"
serde_derive = "1.0"
serde = "1.0"
bson = "0.9.1"
pairing = "0.14"
rustc-hex = "2.0.1"
tiny-keccak = "1.4.2"
byteorder = "1.2.7"
web3 = { git = "https://github.com/tomusdrw/rust-web3" }





