Django==2.1.5
django-environ==0.4.5
django-eth-events==3.0.5
django-model-utils==3.1.2
ethereum==2.3.2
pymongo==3.7.2
web3==4.8.2
flake8==3.7.5
flake8-mypy==17.8.0
pytest==4.2.0
pytest-cov==2.6.1
kombu==4.3.0
eth-tester==0.1.0b37